
XBMC-Statusbar.xcodeproj/xcuserdata/lenn1.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

XBMC-Statusbar.xcodeproj/project.xcworkspace/xcuserdata/lenn1.xcuserdatad/WorkspaceSettings.xcsettings

.DS_Store

XBMC-Statusbar.xcodeproj/project.xcworkspace/xcuserdata/lenn1.xcuserdatad/UserInterfaceState.xcuserstate

XBMC-Statusbar.xcodeproj/project.xcworkspace/xcuserdata/lenn1.xcuserdatad/UserInterfaceState.xcuserstate
